<nav class="navbar navbar-expand-lg navbar-light bg-light">


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/index">Index <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/carrinho">Carrinho</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/entrega">Entrega</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/relatorio">Relatório</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/vitrine">Vitrine</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
        </ul>
    </div>
</nav>